{% extends 'trainee_base.html'%}

{% block body %}
<div class=" vh-100 attendance">
    <div class="container pt-5">
        <form method="POST">
          {% csrf_token %}
      <div class="card  mx-auto card-registration my-2 card w-auto">


        <div class="card-body p-md-8 text-black bg-white">
      <h2 class="text-uppercase text-center fw-bold text-dark report_font pb-4 " >Mark Attendance</h2>
          {% if message %}
          <p>{{message}}</p>
          {% endif %}
      <table class="table table-white">
        <thead>
          <tr class="text-black">
            <th scope="col">#</th>
            <th scope="col" class="">MEMBER NAME</th>
            <th scope="col">ATTENDANCE</th>
          </tr>
        </thead>
        <tbody>                 
            {% for data in user_detail %}
         <tr>
            <td>{{forloop.counter}}</td>
           <td>{{data.register_fname}} . {{data.register_lname}}</td>
           <td>
           
          

                <div class="form-check form-check-inline mb-0 me-4">
                  <input class="form-check-input" type="radio" name="attendance_{{forloop.counter}}" id="" value="present" 
                  {% if data.attendance == 'present' %} checked {% endif %}/>
                  <label class="form-check-label text-black" for="femaleGender">Present</label>
                </div>

                <div class="form-check form-check-inline mb-0 me-4">
                  <input class="form-check-input" type="radio" name="attendance_{{forloop.counter}}" id="" value="absent" {% if data.attendance == 'absent' %} checked {% endif %} />
                  <label class="form-check-label text-black" for="maleGender">Absent</label>
                </div>

                
            </td>
           
  
          </tr>
          {% endfor %}
          
  
        </tbody>
        
      </table>
      <button class="btn btn-sm" type="submit">Post attendance</button>
  
        </div>
      </div>
      </form>

    </div>
  </div>
{% endblock %}