*{
    font-family: 'poppins' ,sans-serif;
}
body{
    background-image: url("/static/assets/img/R.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
form{
    display: flex;
flex-direction: column;
width: 300px;
height: fit-content;



align-items: center;
margin: auto;
margin-top: 50px;

}
.p1{
background: #ffff;
border-radius: 10px;
}
input{
    outline: none;
    border-bottom: 1px solid #ccc;
}