*{
    font-family: 'poppins' ,sans-serif;
}
.logbody{
    background-image: url("/static/assets/img/gym-workout.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.loglabel{

    color: #fff;
    text-decoration: none;
}

.logspan{
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.logheader{
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    

}
.loginput{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 75px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px 15px;
    margin: 5px 0;


}
.logselect{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 75px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;


}
.input-field{
    display: flex;
    flex-direction: column;
    
   
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}
.logsubmit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 3s;
}
.logsubmit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.bottom{
display:flex;
flex-direction: column;
justify-content: space-between;
font-size: small;
color: #fff;
margin-top: 10px;
}
.left{
    display: flex;

}





