<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/attendence.css' %}">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
</head>
<body>
   
    <div class=" vh-100 attendance">
        <div class="container pt-5">
            <h2 class="text-uppercase text-center fw-bold text-warning report_font pb-4">attendance register</h2>

         
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">GENDER</th>
            <th scope="col">DATE</th>
            <th scope="col">ATTENDENCE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Male</td>
            <td>Female</td>
            <td>Female</td>
            <td>@mdo</td>    
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
          </tr>
          
        </tbody>
      </table>
           


</body>
</html>