<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/diet.css' %}">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class=" d-flex justify-content-center align-items-center ">

    
            <form role="form" class="bg-light">
                <div class="form-group">
                    <h1 class=" text-dark text-center ">CREATE ROUTINE </h1>
                    
                <div class="row" >
                <div class="col text-center py-3" >
                   

                    <label for="name" >Routine id</label></div>
                    <div class="col">
                       
                    <input type="text" class="form-control py-2 w-100" id="id" placeholder="Enter id"></div>
            
                </div>
                <div class="row">
                    <div class="col text-center py-3">
                        <label for="text">Routine Name</label>
                    </div>
                    <div class="col text-center py-3">
                        <input type="text" class="form-control py-2 w-100" id="text" placeholder="routine name">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center py-3">
                        <label for="text">Day1</label>
                    </div>
                    <div class="col text-center py-3">
                        <input type="text" class="form-control py-2 w-100" id="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center py-3">
                        <label for="text">Day2</label>
                    </div>
                    <div class="col text-center py-3">
                        <input type="text" class="form-control py-2 w-100" id="text" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center py-3">
                        <label for="text">Day3</label>
                    </div>
                    <div class="col text-center py-3">
                        <input type="text" class="form-control py-2 w-100" id="text" placeholder="">
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center py-3">
                        <label for="text">Day4</label>
                    </div>
                    <div class="col text-center py-3">
                        <input type="text" class="form-control py-2 w-100" id="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center py-3">
                        <label for="text">Day5</label>
                    </div>
                    <div class="col text-center py-3">
                        <input type="text" class="form-control py-2 w-100" id="text" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center py-3">
                        <label for="text">Day6</label>
                    </div>
                    <div class="col text-center py-3">
                        <input type="text" class="form-control py-2 w-100" id="text" placeholder="">
                    </div>
                </div>
    
</body>
</html>