{% extends 'fitness/base.html' %}
{% block body %}
<body class="logbody">
<div class="container">
    <div class=" d-flex justify-content-center align-items-center">

        <form class="align item-center" method="POST">
            {% csrf_token %}
            <div class="top-header">
                <span class="logspan"> Have an account?</span>
                <header class="logheader">Login</header>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="input-field">
<!-- 
                        <label for="name">usertype</label>
                    </div>
                    <div class=""> -->
                            <select class=" logselect select  ps-3 mb-0" value="" name="usertype">
                                <option class="text-dark" selected value="usertype">User Type</option>
                                <option class="text-dark" value="admin">Admin</option>
                                <option class="text-dark" value="user">User</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="input-field">
                        <input class="loginput col-xs-3" type="text" name="login_name" placeholder=" username or Email">
                    </div>
                    <i class="bx bx-user"></i>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="input-field">
                        <input class="loginput col-xs-3" type="text" name="login_userpassword" placeholder="Enter password">
                    </div>
                    <i class="bx bx-lock-alt"></i>
                </div>
            </div>

            <div class="row mb-3 ">

                <div class="input-field">


                    <button type="submit" class="logsubmit " value="submit">login</button>
                </div>

            </div>

            <div class="row ">
                <div class="d-flex justify-content-between">
                <div class="me-5">
                    <input type="checkbox" id="check">
                    <label class="loglabel" for="check">Remember Me</label>
                </div>
                <div class="">
                    <label class="loglabel"><a href="#">Forgot password?</a></label>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

{% endblock %}