<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <link href="{% static 'https://fonts.googleapis.com/css?family=Varela+Round' %}" rel="stylesheet" />
    <link href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}" rel="stylesheet" />
    <title>Ludiflex | Login</title>
</head>
<body>
   <div class="box">
    <div class="container">
        <div class="top">
            <span>Have an account?</span>
            <header>Login</header>
        </div>
        <div class="col-xs-2  input-field">
            <input type="text" class=" input" placeholder="Username" id="">
            <i class='bx bx-user' ></i>
        </div>
        <div class=" col-xs-2 input-field">
            <input type="Password" class="col-xs-offset-2 input" placeholder="Password" id="" maxlength="8">
            <i class='bx bx-lock-alt'></i>
        </div>
        <div class="mx-auto input-field">
            <input type="submit" class="submit" value="Login" id="">
        </div>
        <div class="two-col">
            <div class="one">
               <input type="checkbox" name="" id="check">
               <label for="check"> Remember Me</label>
            </div>
            <div class="two">
                <label><a href="#">Forgot password?</a></label>
            </div>
        </div>
    </div>
</div>  
</body>
</html>
{% endblock %}