{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/machine.css'%}" rel="stylesheet" />
</head>
<body>
      
    
    <section class="projects-section bg-light" id="projects">
        <div class="container px-4 px-lg-5">
            <div class="top">
                <div class="text-center">
                    <div class="page header">
                        <h1> OUR MACHINERIES</h1>
                    </div>
        
        <p> To help you to gain the confidence you need to get started with building strength using machines, here is our guide to some essential gym equipment used in our fitness center</p>
        
            </div>
            </div>
           
            <!-- Project One Row-->
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/static/assets/img/BENCH-PRESS.png" alt="..." /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">BENCH PRESS</h4>
                                <p class="mb-0 text-white-50"> Used for upper body strength training exercises, where you are pushing weight upwards as you’re laying on your back. Do you want the perfect chest? This is one of the tools you use to train for that chest. <br> To know more about it watch
                                </p>    <a href="https://www.youtube.com/embed/gRVjAtPip0Y">Click here</a>   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row gx-0 justify-content-center">
                <div class="col-lg-6 "><img class="img-fluid rounded float-right" src="/static/assets/img/INCLINE-BENCH-PRESS.png" alt="..." /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">INCLINE-BENCH-PRESS</h4>
                                
                                
                            <p class="mb-0 text-white-50"> Essentially an elevated bench press, but the elevation affects the muscle being targeted. <br>To know more</p>
                            <a href="https://youtu.be/dynoKEIcpoU">Click here</a>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>  


</body>
</html>