
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />

    <script>
      function validateform()
      {
    var name=document.registerform.name.value;
    var password=document.registerform.password.value;
    
    if(name==null || name=="")
    {
      alert("Name connot be blank");
      return false;
    }
    else if(password.length<8)
    {
    alert("Password must have atleast 8 characters");
    
    }
    
      }
    </script>



</head>
<body>

  <section class="h-100 bg-warning">
    <form action="" name="registerform" method="post" onsubmit="return validateform()">
    <div class="container py-5 h-30">
      <div class="row d-flex justify-content-center align-items-center h-30">
        <div class="col">
          <div class="card  mx-auto card-registration my-2 card w-75">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="/static/assets/img/blank.jpg"
                  alt="Sample photo" class="img-fluid mx-w-100 h-100"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                  
              </div>
              <div class="col-sm-6">
                <div class="card-body p-md-8 text-black">
                  <h4 class="mb-5 text-uppercase text-center">register here!</h4>
                 
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" name="name" id="form3"  class="form-control form-control-sm " placeholder="First Name"/>
                        <label class="form-label" for="form3"></label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text"  name= "password" id="form4" class="form-control form-control-sm" placeholder="Last Name" />
                        <label class="form-label" for="form3Example1n"></label>
                      </div>
                    </div>
                  </div>
  
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="password"  name="password1" id="form5" class="form-control form-control-sm" placeholder="Enter Password"/>
                        <label class="form-label" for="form5"></label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="password" name="password2" id="form6" class="form-control form-control-sm" placeholder="Conform Password" />
                        <label class="form-label" for="form6"></label>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-outline mb-2">
                    <input type="text" id="form7" class="form-control form-control-sm" placeholder="Enter your address here" />
                    <label class="form-label" for="form3Example8"></label>
                  </div>

                  <div class="form-outline mb-2">
                    <input type="text" id="form8" class="form-control form-control-sm" placeholder="Enter PIN" maxlength="6" />
                    <label class="form-label" for="form8"></label>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <select class="select">
                        <option value="1">State</option>
                        <option value="2">Option 1</option>
                        <option value="3">Option 2</option>
                        <option value="4">Option 3</option>
                      </select>
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                      <select class="select">
                        <option value="1">City</option>
                        <option value="2">Option 1</option>
                        <option value="3">Option 2</option>
                        <option value="4">Option 3</option>
                      </select>
  
                    </div>
                  </div>
  

  
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Gender: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
  
                  <div class="row">
                    <div class=" col-md-6 mb-4">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="date">DOB</label>
                    <input type="date" id="date" class="form-control form-control-sm" />
                   </div>
                </div>

                
                  
  
                  <div class="form-outline mb-2">
                    <input type="number" id="form9" class="form-control form-control-sm" placeholder="Enter phone number" />
                    <label class="form-label" for="form9"></label>
                  </div>
  
                  <div class="form-outline mb-2">
                    <input type="text" id="form10" class="form-control form-control-sm" placeholder="Enter Mail" />
                    <label class="form-label" for="form10"></label>
                  </div>
  
                  <div class="d-flex justify-content-between pt-3">
                    <button type="button" class="btn btn-light btn-sm">Reset all</button>
                    <button type="button" class="btn btn-warning btn-sm ms-2">Submit form</button>
                  </div>
  
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </section>
  
</body>
</html>
