{% extends 'userbase.html' %}
{% block body %}



<section class="vh-100" >
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-auto">
            <div class="card h-auto w-50" style="border-radius: 0.25rem;">


                <div class="card-body p-4 p-lg-5 text-black">

                    <form>

                        <div class="d-flex align-items-center mb-3 pb-1">
                            
                            <span class="h1 fw-bold mb-0 " >feedback</span>
                        </div>

                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">let us know!
                        </h5>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example17">feedback</label>
                            <input type="email" id="form2Example17" class="form-control form-control-lg" placeholder="write something...."/>
                            
                        </div>

                       

                        <div class="pt-1 mb-4">
                            <button class="btn btn-lg btn-block text-white" type="submit" style="background-color: rgb(19, 95, 246);">submit</button>
                        </div>

                       
                       
                       
                    </form>

                </div>
            </div>

        </div>
    </div>

</section>

<!-- <form role="form"  method="POST">
        {% csrf_token %}
    <div class="container">
        
                    <div class=" p1 p-4">
                        

                            <div class="row mb-4">
                                <div class="col-md-12 ps-0">
        
                            <h2 class="justify-content-center"> LET US KNOW!</h2>
                                </div>
                                </div>


                        <div class="row mb-4">
                          <div class="col-md-12 ps-0 justify-content-center">
                            <input type="text" class="form-control" name="feedname" placeholder="Name">
                          </div>
                          </div>
                          <div class="row mb-4">
                            <div class="col-md-12 ps-0 justify-content-center">
                              <input type="email" class="form-control" name="feedmail" placeholder="Email">
                            </div>
                            </div>
                <div class="row mb-4">
                    <div class="col-md-12 ps-0 justify-content-center">
                        
                        <textarea class="form-control py-2 w-100" id="text" name="feedtext" placeholder="message"></textarea>
                    </div>
                </div>


                <div class="row ">
                    <div class="col-md-12 py-4 mb-2 justify-content-center">
                        <button type="submit" class="btn btn-danger btn-lg btn-block " value="submit">Submit feedback</button>
                    </div>
                </div>
                        
                    </div>
                </div>
                </div>
            </div>
    </form>-->
{% endblock %}