{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    <link href="{% static 'css/machine.css'%}" rel="stylesheet" />
</head>
<body class="bg-light">

    
    <div class="text-center">
        <header>OUR MACHINERIES</header>
    </div>
    <div class="card mb-3 mx-auto text-dark bg-warning" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center">  </h5>
              <p class="card-text"></p>
              
            </div>
          </div>
        </div>
      </div>
    
    
    
    


</body>
</html>