{% extends 'userbase.html'%}


{% block body %}
<!-- products/templates/products/product_details.html -->
<!DOCTYPE html>



<section class="h-100">
    <form  method="POST">
        {% csrf_token %}
        
        <div class="container  pt-5 h-30">
            <div class="row d-flex justify-content-center align-items-center h-30">
                <div class="col">
                    <div class="card  mx-auto card-registration my-2 card w-50">


                        <div class="card-body p-md-8 text-black">
                            <h4 class="mb-5  text-start text-dark">Select excercise type:</h4>
                            
                            <div class="row">
                                <div class="col-md-6 mb-4 mt-4">
                                    
                                    <select class="select  ps-3 mb-0 text-dark w-100 h-100 reginput" name="regcity"
                                        id="city_id">
                                        {% for data in exc_type %}
                                        <option value="{{forloop.counter}}" class="text-dark">{{data.excercise_type}}</option>
                                        {% endfor %}
                                    </select>


                                </div>
                                <div class="col-md-6 mb-4 mt-4 pt-1">
                                    
                <button type="submit" class="btn  btn-sm ms-2 text-white" id="submit_btn" style="background-color: blue;">View routine</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</section>
{% endblock %}


<!-- search.html -->
<!--<!DOCTYPE html>
<html>
<head>
    <title>Data Search</title>
</head>
<body>
    <h1>Data Search</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="dropdown1">Dropdown 1:</label>
        <select name="dropdown1" id="dropdown1">
            <option value="value1">Value 1</option>
            <option value="value2">Value 2</option>
            Add more options as needed 
        </select>
        <br>
        <label for="dropdown2">Dropdown 2:</label>
        <select name="dropdown2" id="dropdown2">
            <option value="value3">Value 3</option>
            <option value="value4">Value 4</option>
             Add more options as needed -->
<!-- </select>
        <br>
        <button type="submit">Search</button>
    </form>
</body>
</html>-->