{% extends 'userbase.html'%}
{% load static %}
{% block body %}

<head>
  <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/viewplan.css' %}">
</head>
    <div class=" vh-100 attendance">
        <div class="container pt-5">
          <div class="mx-auto mt-5">
           <h2 class="text-uppercase text-center fw-bold text-dark report_font pb-6 bg-warning">Membership Plan Details</h2>

      
    <table class="table">
        <thead>
          <tr class="table-warning">
            <th scope="col">#</th>
            <th scope="col"> PLAN NAME</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">VALIDITY</th>
            <th scope="col">AMOUNT</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% for data in userplan%}
          <tr class="table-warning">
            
            <th scope="row">{{forloop.counter}}</th>
            
            <td>{{data.plan_name}}</td>
            <td>{{data.plan_description}}</td>
            <td>{{data.plan_validity}}</td>
            <td>{{data.plan_amount}}</td>
            <td><a class="btn btn-warning" href="{% url 'gym_user:viewworkout' data.id %}">WORKOUT SUMMARY</a></td>
            
            
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
      </div>
      </div>
    </div>
      
{% endblock %}