{% extends 'fitness/base.html'%}

{% load static %}

{% block body%}


    
    <div class="text-center pt-5">
        <header>OUR MACHINERIES</header>
    </div>
    {% for data in machineries %}
    <div class="card mb-3 mx-auto text-dark bg-white  w-100 h-100" style="border: none;">
        <div class="row g-0 boxoutline">
          <div class="col-md-4">
           
            <img src="{{data.machinery_image.url}}" class=" card-img-top img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-center"> {{data.machinery_name}} </h5>
              <p class="card-text text-center">{{data.machinery_function}}</p>
              
              
            </div>
          </div>
        </div>
        
      </div>
      {% endfor %}
    
    
    
    



{% endblock %}
