{% extends 'gym_admin/adminbase.html'%}
{% block body %}


<div class=" vh-100 attendance">
  <div class="container pt-5">
    <div class="card  mx-auto card-registration my-2 card w-auto">


      <div class="card-body p-md-8 text-black bg-white">
        <h2 class="text-uppercase text-center fw-bold text-dark report_font pb-4 ">Equipmet Details</h2>

     
<table class="table">
    <thead>
      <tr class="">
        <th scope="col">#</th>
        <th scope="col"> MACHINERY NAME</th>
        <th scope="col">FUNCTION</th>
        <th scope="col">IMAGE</th>
        <th scope="col">ACTION</th>
        
        
      </tr>
    </thead>
    <tbody>
        {% for data in admin_view%}
      <tr class="">
        
        <th scope="row">{{forloop.counter}}</th>
        
        <td>{{data.machinery_name}}</td>
        <td>{{data.machinery_function}}</td>
        <td> <img src="{{data.machinery_image.url}}" class="img-fluid rounded-start w-25 img-thumbnail" alt="..."></td>
        <td> <button class="btn btn-primary ">EDIT</button>
            <button class="btn btn-light">DELETE</button>
        </td>
        

        

        
        
      </tr>
      {% endfor%}
      
      
    </tbody>
  </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}