{% extends 'gym_admin/adminbase.html'%}
{% block body %}

<div class=" vh-100 attendance">
  <div class="container pt-5">
    <div class="card  mx-auto card-registration my-2 card w-auto">


      <div class="card-body p-md-8 text-black bg-white">
        <h2 class="text-uppercase text-center fw-bold text-dark report_font pb-4 ">MEMBER LIST</h2>

     
<table class="table">
    <thead>
      <tr class="">
        <th scope="col">#</th>
        <th scope="col"> USER NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">FEEDBACK</th>
      </tr>
    </thead>
    <tbody>
       {% for data in v_feedback %}
      <tr class="table-dark">
        
        <th scope="row">{{forloop.counter}}</th>
        
        <td>{{data.f_name}}</td>
        <td>{{data.f_mail}}</td>
        <td>{{data.f_feedback}}</td>
        
        
        
      </tr>
      {% endfor %}
     
      
      
    </tbody>
  </table>
      </div></div>
  </div>
</div>


{% endblock %}