<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class=" d-flex justify-content-center align-items-center ">


            <form role="form" class="bg-light">
                <div class="form-group">
                    <h1 class=" text-dark text-center ">MEMBER DETAILS</h1>

                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">First Name</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_fname}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">Last Name</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_lname}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">Password</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">Address</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_address}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">PIN</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_pin}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">State</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_state}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">City</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_city}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">Gender</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_gender}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">DOB</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_dob}}">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col text-center py-3">


                            <label for="name">Phone</label>
                        </div>
                        <div class="col">

                            <input type="text" class="form-control py-2 w-75" id="id" value="{{user.register_phone}}">
                        </div>

                    </div>
</body>

</html>