{% extends 'adminbase.html'%}
{% block body%}
{% load static%}
<link rel="stylesheet" href="{% static 'css/workoutsummary.css' %}">


<form>
  <div class="container bg-light">

    <div class="p-2">
    
      <div class="row">
        <div class="col-md-4 p-0 d-flex align-items-center ">
        <label for="text1" class=" text-dark ">Plan name</label>
      </div>
      <div class="col-md-8 ps-0">
        <input type="text" class="form-control" name="workplanname">
      </div>
      </div>

    
      <div class="row ">
        <div class="col-md-4 p-0 d-flex align-items-center">
          <label for="text2" class=" text-dark">Program duration</label>
        </div>
        <div class="col-md-8 ps-0">
          <input type="text" class="form-control" name="programduration">
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 p-0 d-flex align-items-center">
          <label for="text3" class=" text-dark">Workout type</label>
        </div>
        <div class="col-md-8 ps-0">
          <input type="text" class="form-control" name="workouttype">
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 p-0 d-flex align-items-center">
          <label for="text4" class=" text-dark">Days per week</label>
        </div>
        <div class="col-md-8 ps-0">
          <input type="text" class="form-control" name="daysperweek">
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 p-0 d-flex align-items-center">
          <label for="text5" class=" text-dark">Time per workout</label>
        </div>
        <div class="col-md-8 ps-0">
          <input type="text" class="form-control" name="timeperworkout">
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 p-0 d-flex align-items-center">
          <label for="text2" class=" text-dark">Equipment required</label>
        </div>
        <div class="col-md-8 ps-0">
          <input type="text" class="form-control" name="Equipmentrequired">
        </div>
      </div>
      <div class="row ">
        <div class="col-md-4 p-0 d-flex align-items-center">
          <label for="text2" class=" text-dark">Target gender</label>
        </div>
        <div class="col-md-8 ps-0">
          <div class="form-check form-check-inline  mb-0 me-2">
          <label class="form-check-label form-check-inline">Female</label>
          <input type="radio" class="form-check-input" name="targetgender">
      </div>
        <div class="form-check form-check-inline  mb-0 me-2">
        <label class="form-check-label form-check-inline">Male</label>
        <input type="radio" class="form-check-input" name="targetgender">
      </div>

      <div class="form-check form-check-inline  mb-0 me-2">
        <label class="form-check-label form-check-inline">Both</label>
        <input type="radio" class="form-check-input" name="targetgender">
      </div>

    </div>
    
  
      </div>
      
      <div class="row justify-content-between">
        <div class="col justify-content-between">
          <button type="submit" class="btn btn-warning btn-sm">ADD</button>
        </div>
        <div class="col justify-content-between">
          <button type="reset" class="btn btn-warning btn-sm">RESET</button>
        </div>
      </div>

    </div>
  </div>
</form>


{% endblock %}